<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Card payment</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ex" data-bs-whatever="@fat">Qr-code</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acc_balance" data-bs-whatever="@fat">Account balance</button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deals" data-bs-whatever="@fat">Other deals</button>
  </div>
  <div class="col">
    <div class="dropdown ">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        More
      </button>
      <ul class="dropdown-menu bg-primary" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#acc_enquiry" data-bs-whatever="@fat">Get account enquiry</button></li>
        <li><button class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#acc_statement" data-bs-whatever="@fat">Statement generation</button></li>
      </ul>
    </div>
  </div>
</div> 




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addCardPayment(myForm)" #myForm="ngForm">
            <div class="mb-3"> 
                <label for="currency" class="col-form-label"><span>Currency</span>&nbsp; <i class="fa fa-money"></i></label>
            
                <select name="currency" id="currency" ngModel class="form-control">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
            </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Amount:</label>
            <input type="number" class="form-control" id="recipient-name" name="amount" ngModel>
          </div>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exLabel">Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addQrPayment(myForm2)" #myForm2="ngForm">
            <div class="mb-3"> 
                <label for="currency" class="col-form-label"><span>Currency</span>&nbsp; <i class="fa fa-money"></i></label>
            
                <select name="currency2" id="currency" ngModel class="form-control">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
            </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Amount:</label>
            <input type="number" class="form-control" id="recipient-name" name="amount2" ngModel>
          </div>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#qr" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        
      </div>
    </div>
  </div>
</div>



<div>
  <div class="modal fade" id="qr" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Scannez le Qr-code</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="spinner-border" role="status" *ngIf="myAngularxQrCode == '' " style="margin:auto">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="modal-body" style="margin:auto">
          <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="acc_balance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations Account Balance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="viewAccountBalance(myForm3)" #myForm3="ngForm">
          <div class="mb-3"> 
            <label for="clienid" class="col-form-label"><span>Client Id:</span>&nbsp; <i class="bi bi-person-circle"></i></label>
        
            <input type="text" class="form-control" id="clienid" name="client_id" ngModel>
          </div>
            <div class="mb-3"> 
                <label for="affcode" class="col-form-label"><span>Affiliate code:</span>&nbsp; <i class="bi bi-key-fill"></i></label>
            
                <input type="text" class="form-control" id="affcode" name="affiliateCode" ngModel>
            </div>
            
            <div class="mb-3"> 
              <label for="noAcc" class="col-form-label"><span>Account Number:</span>&nbsp; <i class="bi bi-shield-fill-check"></i></label>
          
              <input type="text" class="form-control" id="noAcc" name="accountNo" ngModel>
            </div>
          <div class="mb-3">
            <label for="cname" class="col-form-label">Company name:&nbsp;&nbsp; <i class="bi bi-building"></i></label>
            <input type="text" class="form-control" id="cname" name="companyName" ngModel>
          </div>
        <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#infoAccount" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="infoAccount" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Account balance</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="acountInfos.length == 0" style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <table class="table table-striped ">
            <thead *ngIf="acountInfos.length != 0" >
              <tr><th>Object</th><th>Value</th></tr>
            </thead>
            <tbody *ngFor="let data of acountInfos" >
              <tr >
                <td>Account Name</td><td>{{ data.accountName }}</td>
              </tr>
              <tr >
                <td>Account Number</td><td>{{ data.accountNo }}</td>
              </tr>
              <tr >
                <td>Current Balance</td><td><b>{{ data.currentBalance }}</b> {{data.ccy}}</td>
              </tr>
              <tr >
                <td>Account Status</td><td>{{ data.accountStatus }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="acc_enquiry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="viewAccountEnquiry(myForm4)" #myForm4="ngForm">
          <div class="mb-3"> 
            <label for="clienid" class="col-form-label"><span>Client Id:</span>&nbsp; <i class="bi bi-person-circle"></i></label>
        
            <input type="text" class="form-control" id="clienid" name="client_id" ngModel>
          </div>
          <div class="mb-3"> 
            <label for="noAcc" class="col-form-label"><span>Account Number:</span>&nbsp; <i class="bi bi-shield-fill-check"></i></label>
        
            <input type="text" class="form-control" id="noAcc" name="accountNo" ngModel>
          </div>
          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#AccountEnquiryInfos" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade" id="AccountEnquiryInfos" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Account Enquiry Informations</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="acountEnquiry.length == 0" style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <table class="table table-striped ">
            <thead *ngIf="acountEnquiry.length != 0" >
              <tr><th>Object</th><th>Value</th></tr>
            </thead>
            <tbody *ngFor="let data of acountEnquiry" >
              <tr >
                <td>Account Name</td><td>{{ data.accountName }}</td>
              </tr>
              <tr >
                <td>Account Number</td><td>{{ data.accountNo }}</td>
              </tr>
              <tr >
                <td>Currency</td><td> {{data.ccy}}</td>
              </tr>
              <tr >
                <td>Account Status</td><td>{{ data.accountStatus }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="acc_statement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account statement generation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="viewAccountStatement(myForm5)" #myForm5="ngForm">
          <div class="mb-3"> 
            <label for="clienid" class="col-form-label"><span>Corporate Id:</span>&nbsp; <i class="bi bi-person-circle"></i></label>
        
            <input type="text" class="form-control" id="clienid" name="corporateId" ngModel>
          </div>
          <div class="mb-3"> 
            <label for="noAcc" class="col-form-label"><span>Account Number:</span>&nbsp; <i class="bi bi-shield-fill-check"></i></label>
            <input type="text" class="form-control" id="noAcc" name="accountNo" ngModel>
          </div>
          <div class="mb-3"> 
            <label for="sd" class="col-form-label"><span>Start date:</span>&nbsp; <i class="bi bi-shield-fill-check"></i></label>
            <input type="date" class="form-control" id="sd" name="startDate" ngModel>
          </div>
          <div class="mb-3"> 
            <label for="ed" class="col-form-label"><span>End date:</span>&nbsp; <i class="bi bi-shield-fill-check"></i></label>
            <input type="date" class="form-control" id="ed" name="endDate" ngModel>
          </div>
          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#AccountStatementInfos" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<div>
  <div class="modal fade" id="AccountStatementInfos" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true" >

    <div class="modal-dialog modal-lg text-nowrap">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Account statement Informations</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="acountStatement.length == 0 " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <table class="table table-striped ">
            <thead *ngIf="acountStatement.length > 0 " >
              <tr><th>#</th><th>Ref.Transfert</th><th>Date</th><th>Amount</th><th>Currency</th><th>Narrative</th></tr>
            </thead>
            <tbody >
              <tr *ngFor="let data of acountStatement"  > 
                <td>{{acountStatement.indexOf(data)+ 1}}</td>               
                <td>{{ data.trnrefno }}</td>
                <td>{{ data.valuedate }}</td>
                <td> {{data.lcyamount1}}</td>
                <td> {{data.acccy}}</td>
                <td class="text-wrap">{{ data.narrative }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!--other deals-->

<div class="modal fade" id="deals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
           <div class="col">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bpayment" data-bs-whatever="@fat" data-bs-dismiss="modal">Bills payment</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ibpayment" data-bs-whatever="@fat" data-bs-dismiss="modal">InterBank payment</button>
          </div>
        </div><br>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#domesticpayment" data-bs-whatever="@fat" data-bs-dismiss="modal">Domestic payment</button>
          </div>
           <!--<div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jetonpayment" data-bs-whatever="@fat" data-bs-dismiss="modal">Jeton payment</button>
          </div>-->
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#momo" data-bs-whatever="@fat" data-bs-dismiss="modal">Mobile Money</button>
          </div>
         
        </div>
       
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!--bills payments-->
<div class="modal fade" id="bpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bills Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="BillPayment(myForm6)" #myForm6="ngForm">
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>your profil</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="lastname" placeholder="last name" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="firstname" placeholder="first name" ngModel>
              </div>
            </div> <br>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="phone" placeholder="phone number" ngModel>
              </div>
              <div class="col">
                <input type="email" class="form-control" id="fn" name="email" placeholder="email" ngModel>
              </div>
            </div>
          </fieldset>
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>Bill infos</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="billercode" placeholder="billercode" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="billRefNo" placeholder="billRefNo" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="customerName" placeholder="customerName" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="customerRefNo" placeholder="customerRefNo" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="amount" placeholder="amount" ngModel>
              </div>
              <div class="col"> 
            
                <select name="currency"  ngModel class="form-select" aria-label="Default select example">
                
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
              </div>
            </div> 

            
          </fieldset>
          
          
          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#billerpaymentstate" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--biller payment state-->
<div>
  <div class="modal fade" id="billerpaymentstate" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Biller Payment State</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="billerState == '' " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="billerState == 'Request received successfully' " >
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="116" fill="currentColor" class="bi bi-check-square-fill bg-success" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>
          </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!--interbank payments-->
<div class="modal fade" id="ibpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">InterBank Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="InterbankPayment(myForm7)" #myForm7="ngForm">
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>sender profil</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="sendername" placeholder="sender name" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="senderadresse" placeholder="sender adress" ngModel>
              </div>
            </div> <br>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="senderphone" placeholder="phone number" ngModel>
              </div>
              
            </div>
          </fieldset>
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>beneficiary and amount infos</h5></legend>
            <div class="row">
              <div class="col">
                <input type="email" class="form-control" id="fn" name="destinationbank" placeholder="destination Bank" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="benefaccountno" placeholder="beneficiaryAccountNo" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="beneficiaryName" placeholder="beneficiaryName" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="beneficiaryPhone" placeholder="beneficiaryPhone" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="amount" placeholder="amount" ngModel>
              </div>
              <div class="col"> 
            
                <select name="currency"  ngModel class="form-select" aria-label="Default select example">
                
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
              </div>
            </div> 

          </fieldset>

          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#interbankpaymentstate" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--interbank payment state-->
<div>
  <div class="modal fade" id="interbankpaymentstate" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>InterBank Payment State</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="interbankState == '' " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="interbankState == 'Request received successfully' " >
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="116" fill="currentColor" class="bi bi-check-square-fill bg-success" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>
          </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!--domestic payments-->
<div class="modal fade" id="domesticpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Domestic Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="DomesticPayment(myForm8)" #myForm8="ngForm">
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>Debit account info</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="debitAccountBranch" placeholder="debitAccountBranch" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="debitAccountType" placeholder="debitAccountType" ngModel>
              </div>
            </div> <br>
          </fieldset>
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>Credit account info</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="creditAccountNo" placeholder="creditAccountNo" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="creditAccountBranch" placeholder="creditAccountBranch" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="creditAccountType" placeholder="creditAccountType" ngModel>
              </div>
              
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="amount" placeholder="amount" ngModel>
              </div>
              <div class="col"> 
            
                <select name="currency"  ngModel class="form-select" aria-label="Default select example">
                
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
              </div>
            </div> 

          </fieldset>

          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#domesticpaymentstate" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--domestic payment state-->
<div>
  <div class="modal fade" id="domesticpaymentstate" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Domestic Payment State</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="domesticState == '' " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="domesticState == 'Request received successfully' " >
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="116" fill="currentColor" class="bi bi-check-square-fill bg-success" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>
          </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!--jeton payments-->
<div class="modal fade" id="jetonpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Jeton Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="JetonPayment(myForm9)" #myForm9="ngForm">
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>source account and amount infos</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="transactionDescription" placeholder="transactionDescription" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="secretCode" placeholder="secretCode" ngModel>
              </div> 
              <div class="col">
                <input type="text" class="form-control" id="fn" name="sourceAccount" placeholder="sourceAccount" ngModel>
              </div>
            </div> <br>
            <div class="row">
              
              <div class="col">
                <input type="text" class="form-control" id="fn" name="senderName" placeholder="senderName" ngModel>
              </div> 
              <div class="col">
                <input type="text" class="form-control" id="fn" name="senderMobileNo" placeholder="senderMobileNo" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="amount" placeholder="amount" ngModel>
              </div>
              <div class="col"> 
            
                <select name="currency"  ngModel class="form-select" aria-label="Default select example">
                
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
              </div>
            </div>

            
          </fieldset>
          <fieldset class="border p-2" >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>beneficiary </h5></legend>
            <div class="row">
              <div class="col">
                <input type="email" class="form-control" id="fn" name="beneficiaryName" placeholder="beneficiaryName" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="beneficiaryMobileNo" placeholder="beneficiaryMobileNo" ngModel>
              </div>
            </div><br>

          </fieldset>

          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#jetonpaymentstate" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--jeton payment state-->
<div>
  <div class="modal fade" id="jetonpaymentstate" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Jeton Payment State</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="jetonState =='' " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="jetonState == 'Request received successfully' " >
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="116" fill="currentColor" class="bi bi-check-square-fill bg-success" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>
          </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!--MOMO payments-->
<div class="modal fade" id="momo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mobile Money Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-6">
        <form (ngSubmit)="MomoPayment(myForm10)" #myForm10="ngForm">
          <fieldset class="border " >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>sender infos</h5></legend>
            <!-- <div class="col-sm-3">
              <input type="text" class="form-control " id="fn" name="countryCode" placeholder="countryCode" ngModel>
            </div><br> -->
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="sendername" placeholder="sender name" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="fn" name="senderAccountNo" placeholder="senderAccountNo" ngModel>
              </div>
            </div> <br>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="countryCode" placeholder="countryCode" ngModel>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="ln" name="senderPhoneNumber" placeholder="senderPhoneNumber" ngModel>
              </div>
              
            </div>
          </fieldset>
          <fieldset class="border " >
            <legend class="float-none w-auto p-2 text-on-pannel text-primary"><h5>beneficiary and amount infos</h5></legend>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="receiverPhoneNumber" placeholder="receiverPhoneNumber" ngModel>
              </div>
              <div class="col">
                <input type="email" class="form-control" id="fn" name="receiverEmail" placeholder="receiverEmail" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="ln" name="receiverFirstName" placeholder="receiverFirstName" ngModel>
              </div>
              <div class="col">
                <input type="email" class="form-control" id="fn" name="receiverLastName" placeholder="receiverLastName" ngModel>
              </div>
            </div><br>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="fn" name="amount" placeholder="amount" ngModel>
              </div>
              <div class="col"> 
            
                <select name="currency"  ngModel class="form-select" aria-label="Default select example">
                
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                </select>  
              </div>
            </div> 

          </fieldset>

          <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#momopaymentstate" data-bs-whatever="@fat">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!--momo payment state-->
<div>
  <div class="modal fade" id="momopaymentstate" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exLabel"><h2>Momo Payment State</h2></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:auto">
          <div class="spinner-border" role="status" *ngIf="momoState == '' " style="margin:auto">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="momoState == 'Transactions accepted' "  style="margin:auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="116" height="116" fill="currentColor" class="bi bi-check-square-fill " viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg><br>
            <span><b>transactionRef = {{transactionRef_momo}} </b></span>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

</body>
</html>